@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Merriweather:wght@300;400;700&display=swap');

:root {
  --color-primario: #406473;
  --color-secundario: #F2BE7E;
  --color-fondo: #EFF6E0;
  --color-acento: #592B11;
}

h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}

body {
  font-family: 'Lato', serif;
  margin: 0;
  padding: 0;
  background-color: #B3E0F2; /* fondo */
  color: #406473; /* texto */
  line-height: 1.6;
}

/* Encabezado */
header {
  background-color: #406473;
  color: white;
  padding: 1em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1em;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #F2BE7E;
}

nav a.active {
  border-bottom: 2px solid #F2BE7E
}

/* Secciones */
.seccion {
  padding: 2em;
  max-width: 800px;
  margin: auto;
  background-color: #EFF6E0; /* fondo secciones */
  margin-top: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

/* Proyectos */
.proyecto img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1em;
  border: 2px solid #BF8969;
}

.proyecto a {
  text-decoration: none;
  color: #406473;
  font-weight: bold;
}

.proyecto a:hover {
  color: #592B11;
}

/* Habilidades */
.habilidades-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.habilidad-columna {
  flex: 1 1 300px;
}

.habilidad-columna h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 1rem;
}

.skills-grid img {
  width: 100%;
  max-width: 80px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.skills-grid img:hover {
  transform: scale(1.1);
}

/* Contacto */
#contacto a {
  color: #406473;
  font-weight: bold;
}

#contacto a:hover {
  color: #592B11;
}

/* Footer */
footer {
  text-align: center;
  padding: 1em;
  background: #406473;
  color: white;
  margin-top: 2em;
}